*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

:root {
    --emerald: #86cb92;
    --mint: #71b48d;
    --ym-blue: #404e7c;
    --space-blue: #251f47;
    --dark-purple: #260f26;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--ym-blue);
    font-family: 'Open Sans', sans-serif;
}

#app-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 500px;
    padding: 2em;
    gap: 3em;
    background-color: var(--mint);
}

#forecast-container {
    display: flex;
    flex-wrap: wrap;
    /* height: 400px; */
    background-color: white;
}

#controls-container {
    display: flex;
    padding: 1em;
    background-color: var(--emerald);
    gap: 1em;
}

#controls-container * {
    font-size: 1.5rem;
    padding: 0.5em 1em;
    flex: 1;
    text-align: center;
}

.rounded {
    border-radius: 10px;
}